@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: "lato", sans-serif;
}

.signupForm {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form {
	background-color: white;
	width: 400px;
	border-radius: 8px;
	padding: 20px 40px;
	box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.inputField {
	position: relative;
	height: 45px;
	width: 90%;
	margin-bottom: 17px;
}

.input {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #DADCE0;
	border-radius: 7px;
	font-size: 16px;
	padding: 0 20px;
}